@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

@import "reset.css";

/* components */
@import "components/status-bar.css";

.hidden {
  display: none;
}

img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
}

.wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;

  font-family: "Open Sans", sans-serif;
  color: rgb(255, 255, 255);
}

input {
  width: 400px;
  height: 40px;
  border: none;
  border-bottom: 1px solid white;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 28px;
}

input::placeholder {
  font-size: 28px;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
}

#clock {
  font-size: 120px;
  font-weight: 600;
}

#greeting {
  font-size: 28px;
  font-weight: 600;
  margin: 30px 0;
}

#quote {
  position: absolute;
  bottom: 10px;

  font-size: 18px;
  font-weight: 400;
  color: rgb(255, 255, 255);

  display: flex;
  justify-content: center;
  align-items: center;
}

#quote span:first-child {
  margin-right: 20px;
}
